export("morph3d", "morph3dplot", "morph3dprep", "arraytrim")
importFrom("reshape2", "melt")
importFrom("rgl", "clear3d", "bg3d", "cube3d", "shade3d", "wire3d", "legend3d", "text3d", "open3d", "bgplot3d")
importFrom("graphics", "plot.new", "title")
importFrom("utils", "install.packages")
importFrom("graphics", "par")
import("igraph", "stringr")